.container{
  margin-top: 20px
}

.post{
  width: 1120px;
}

.image1{
  height:298.5px;
  width: 1120px;
  background: url(../images/Sorteo-2018_01.jpg);
  background-size: contain;

}

.image2{
  display: inline-block;
  float: left;
}

.image2a{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_02.jpg);
  background-size: cover;
  position: relative;
}

.image2b{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_03.jpg);
  background-size: cover;
}

.image2c{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_04.jpg);
  background-size: cover;
  position: relative;
}

.image2d{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_05.jpg);
  background-size: cover;
}

.image3{
  height: 190px;
  width: 1120px;
  background: url(../images/Sorteo-2018_06.jpg);
  background-size: contain;
}

/*
  IMAGE 4
*/
.image4{
  /*display: inline-block;*/
  float: left;
}

.image4a{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_07.jpg);
  background-size: cover;
  position: relative;
}

.image4b{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_08.jpg);
  background-size: cover;
  position: relative;
}

.image4c{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_09.jpg);
  background-size: cover;
  position: relative;
}

.image4d{
  height: 51.5px;
  width: 280px;
  float: left;
  background: url(../images/Sorteo-2018_10.jpg);
  background-size: contain;
  position: relative;
}

/*
  IMAGE 5
*/
.image5{
  height: 108px;
  width: 1120px;
  background: url(../images/Sorteo-2018_11.jpg);
  background-size: contain;
}

/*
  TEXT
*/
.textarea{
  height: 25px;
  width:88px;
  text-align: center;
}
.sailor{
  position: absolute;
  left:68.7px;
}

.crash{
  position: absolute;
  left:98px;
}

.draco{
  position: absolute;
  left:108px;
  top: 4px;
}

.trunks{
  position: absolute;
  left:38px;
  top: 2px;
}

p{
  font-weight: bold;
  font-size: 30px;
}

.counter{
  font-weight: bold;
  font-size: 30px;
}
